@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-Light.eot");
  src: url("./font/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("./font/Montserrat-Light.woff2") format("woff2"),
    url("./font/Montserrat-Light.woff") format("woff"),
    url("./font/Montserrat-Light.ttf") format("truetype"),
    url("./font/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-Regular.eot");
  src: url("./font/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("./font/Montserrat-Regular.woff2") format("woff2"),
    url("./font/Montserrat-Regular.woff") format("woff"),
    url("./font/Montserrat-Regular.ttf") format("truetype"),
    url("./font/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-Medium.eot");
  src: url("./font/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("./font/Montserrat-Medium.woff2") format("woff2"),
    url("./font/Montserrat-Medium.woff") format("woff"),
    url("./font/Montserrat-Medium.ttf") format("truetype"),
    url("./font/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-SemiBold.eot");
  src: url("./font/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./font/Montserrat-SemiBold.woff2") format("woff2"),
    url("./font/Montserrat-SemiBold.woff") format("woff"),
    url("./font/Montserrat-SemiBold.ttf") format("truetype"),
    url("./font/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-Bold.eot");
  src: url("./font/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("./font/Montserrat-Bold.woff2") format("woff2"),
    url("./font/Montserrat-Bold.woff") format("woff"),
    url("./font/Montserrat-Bold.ttf") format("truetype"),
    url("./font/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAr";
  src: url("./font/ar/Montserrat-Arabic-Medium.eot");
  src: url("./font/ar/Montserrat-Arabic-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./font/ar/Montserrat-Arabic-Medium.woff2") format("woff2"),
    url("./font/ar/Montserrat-Arabic-Medium.woff") format("woff"),
    url("./font/ar/Montserrat-Arabic-Medium.ttf") format("truetype"),
    url("./font/ar/Montserrat-Arabic-Medium.svg#Montserrat-Arabic-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAr";
  src: url("./font/ar/Montserrat-Arabic-SemiBold.eot");
  src: url("./font/ar/Montserrat-Arabic-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./font/ar/Montserrat-Arabic-SemiBold.woff2") format("woff2"),
    url("./font/ar/Montserrat-Arabic-SemiBold.woff") format("woff"),
    url("./font/ar/Montserrat-Arabic-SemiBold.ttf") format("truetype"),
    url("./font/ar/Montserrat-Arabic-SemiBold.svg#Montserrat-Arabic-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAr";
  src: url("./font/ar/Montserrat-Arabic-Bold.eot");
  src: url("./font/ar/Montserrat-Arabic-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./font/ar/Montserrat-Arabic-Bold.woff2") format("woff2"),
    url("./font/ar/Montserrat-Arabic-Bold.woff") format("woff"),
    url("./font/ar/Montserrat-Arabic-Bold.ttf") format("truetype"),
    url("./font/ar/Montserrat-Arabic-Bold.svg#Montserrat-Arabic-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAr";
  src: url("./font/ar/Montserrat-Arabic-Light.eot");
  src: url("./font/ar/Montserrat-Arabic-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./font/ar/Montserrat-Arabic-Light.woff2") format("woff2"),
    url("./font/ar/Montserrat-Arabic-Light.woff") format("woff"),
    url("./font/ar/Montserrat-Arabic-Light.ttf") format("truetype"),
    url("./font/ar/Montserrat-Arabic-Light.svg#Montserrat-Arabic-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MontserratAr";
  src: url("./font/ar/Montserrat-Arabic-Regular.eot");
  src: url("./font/ar/Montserrat-Arabic-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./font/ar/Montserrat-Arabic-Regular.woff2") format("woff2"),
    url("./font/ar/Montserrat-Arabic-Regular.woff") format("woff"),
    url("./font/ar/Montserrat-Arabic-Regular.ttf") format("truetype"),
    url("./font/ar/Montserrat-Arabic-Regular.svg#Montserrat-Arabic-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100vh;
  color: #5e5e5e !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}
html {
  font-size: -webkit-calc(0.75em + 0.25 * (60vh + 40vw - 65em) / 40);
  font-size: expression(0.75em + 0.25 * (60vh + 40vw - 65em) / 40);
  font-size: -moz-calc(0.75em + 0.25 * (60vh + 40vw - 65em) / 40);
  font-size: -o-calc(0.75em + 0.25 * (60vh + 40vw - 65em) / 40);
  font-size: calc(0.75em + 0.25 * (60vh + 60vw - 65em) / 40); /**/
  line-height: -webkit-calc(0.75em + 0.25 * (60vh + 60vw - 65em) / 40 * 1.618);
  line-height: expression(0.75em + 0.25 * (60vh + 60vw - 65em) / 40 * 1.618);
  line-height: -moz-calc(0.75em + 0.25 * (60vh + 60vw - 65em) / 40 * 1.618);
  line-height: -o-calc(0.75em + 0.25 * (60vh + 60vw - 65em) / 40 * 1.618);
  line-height: calc(0.75em + 0.25 * (60vh + 60vw - 65em) / 40 * 1.618);
}
.font-montserratEn {
  font-family: "Montserrat", sans-serif !important;
}
.font-montserratAr {
  font-family: "MontserratAr", sans-serif !important;
}
.text-monospaceAr {
  font-family: "monospace" !important;
}
.scrollbar {
  overflow-y: scroll;
}
.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff8800;
}
.home-pattern {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGUlEQVQYV2N8V6jiK9R/ZzMDFDDCGMQLAAD+LgQFvmi8CgAAAABJRU5ErkJggg==");
}
*:focus {
  outline: none !important;
}
.switch-language {
  position: absolute;
  top: 11.5rem;
  right: 0;
  width: auto;
}
.badge-container {
  padding-bottom: .125rem !important;
}
.badge {
  font-size: 0.6rem !important;
  font-weight: 600;
  padding: .25rem;
}
#home-view .view {
  background-image: url("./img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
#home-view .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
#reset-password-view .view {
  background-image: url("./img/reset-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
#reset-password-view .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.px-05 {
  padding-right: 0.125rem !important;
  padding-left: 0.125rem !important;
}
.pb-05 {
  padding-bottom: 0.125rem !important;
}
.mw-40 {
  max-width: 40% !important;
}
.w-65 {
  width: 65% !important;
}
.w-60 {
  width: 60% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-85 {
  width: 85% !important;
}
.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
  background-color: transparent;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:active {
  color: #ffbb33;
}
.active .nav-link {
  color: #fff !important;
}
.active .nav-link:after {
  content: "";
  min-height: 1px;
  height: 1px;
  margin-top: -1px;
  background: #fff !important;
  background-color: #fff !important;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.nav-link {
  padding: 0;
}
.top-nav-collapse {
  background: #3e3e3e !important;
}
.form-control-sm {
  color: rgba(73, 80, 87, 0.65);
  font-size: 0.8rem !important;
}
.form-control-sm::placeholder,
.form-control-sm::-webkit-input-placeholder {
  color: rgba(158, 158, 158, 0.6) !important;
}
option {
  color: rgba(158, 158, 158, 0.95) !important;
}
.transparent {
  background-color: transparent !important;
}
.card-wrapper {
  min-height: calc(330px + 7vh) !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.cursor-default {
  cursor: default !important;
}
.cursor-zoom-in {
  cursor: -webkit-zoom-in !important;
  cursor: -moz-zoom-in !important;
  cursor: zoom-in !important;
}
.Select-menu-outer {
  z-index: 999 !important;
}
.card-meta {
  font-weight: 300;
  font-size: 0.8rem;
  color: #757575;
}
.home .card-cascade .view-cascade .Ripple-parent {
  cursor: -webkit-zoom-in !important;
  cursor: -moz-zoom-in !important;
  cursor: zoom-in !important;
}
.btn-floating {
  z-index: unset !important;
}
.carousel-indicators {
  z-index: unset !important;
}
.home .card-title strong {
  font-weight: 600 !important;
  font-size: 1.35rem !important;
  line-height: 1.2 !important;
}
.font-smaller {
  font-size: 0.84rem !important;
}
.font-smaller-1 {
  font-size: 0.78rem !important;
}
.font-smaller-2 {
  font-size: 0.73rem !important;
}
.card-footer {
  background-color: rgba(0, 0, 0, 0) !important;
}
.controls-top a,
.carousel-indicators li {
  background-color: #2bbbad !important;
  color: #fff !important;
}
.carousel-item img {
  max-height: 185px !important;
  height: auto !important;
}
.navbar.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='1.8' stroke-linecap='round' stroke-miterlimit='10' d='M0 11.5h30m-30 7h22'/%3E%3C/svg%3E");
}
.text-urban-dark-orange {
  color: #ff8800 !important;
}
.text-urban-dark-blue {
  color: #019ee3 !important;
}
.text-urban-elegant-gray-5 {
  color: #5e5e5e !important;
}
.text-training {
  color: rgb(237, 114, 37) !important;
}
.urban-dark-orange {
  background-color: #ff8800 !important;
}
.urban-dark-blue-opacity {
  background-color: rgba(1, 158, 227, 0.58) !important;
}
.urban-dark-orange-opacity {
  background-color: rgba(255, 136, 0, 0.58) !important;
}
.urban-darker-blue-opacity {
  background-color: rgba(84, 110, 122, 0.7) !important;
}
.urban-elegant-gray-7-opacity {
  background-color: rgba(126, 126, 126, 0.7) !important;
}
.urban-elegant-red-7-opacity {
  background-color: rgba(255, 87, 34, 0.7) !important;
}
.opacity-50 {
  opacity: 0.5 !important;
}
.mr-45 {
  margin-right: 2.6rem !important;
}
.ml-45 {
  margin-left: 1.8rem !important;
}
.pt-rem-3 {
  padding-top: 3rem !important;
}
.pt-rem-45 {
  padding-top: 4.5rem !important;
}
.pb-rem-06 {
  padding-bottom: 0.6rem !important;
}
.urban-dark-blue {
  background-color: #019ee3 !important;
}
.urban-elegant-gray-2 {
  background-color: #2e2e2e !important;
}
.urban-elegant-gray-4 {
  background-color: #4e4e4e !important;
}
.urban-elegant-gray-5 {
  background-color: #5e5e5e !important;
}
.urban-elegant-gray-6 {
  background-color: #6e6e6e !important;
}
.urban-elegant-gray-7 {
  background-color: #7e7e7e !important;
}
.urban-elegant-gray-8 {
  background-color: #828282 !important;
}
.urban-elegant-gray-10 {
  background-color: #a7a7a7 !important;
}
.urban-slight-blue {
  background-color: #d8e7f0 !important;
}
.urban-slight-gray {
  background-color: #f4f8fb !important;
}
.urban-training-toast {
  background-color: rgb(237, 114, 37) !important;
}
.Toastify__toast-container {
  width: auto !important;
}
.btn-outline-urban-dark-orange,
.btn-outline-urban-dark-orange:not([disabled]):not(.disabled):active {
  border-radius: 0.125rem !important;
  border: 2px solid rgba(255, 136, 0, 0.6) !important;
  background-color: transparent !important;
  color: #ff8800 !important;
}
.btn-outline-rounded-urban-dark-blue {
  border-radius: 0.125rem !important;
  border: 2px solid #019ee3 !important;
  background-color: transparent !important;
  color: #019ee3 !important;
}
.btn-rounded-urban-original-orange,
.btn-rounded-urban-original-orange:not([disabled]):not(.disabled):active {
  border-radius: 0.125rem !important;
  background-color: #ed7225 !important;
  color: #fff !important;
}
.btn-rounded-urban-dark-orange,
.btn-rounded-urban-dark-orange:not([disabled]):not(.disabled):active {
  border-radius: 0.125rem !important;
  background-color: #ff8800 !important;
  color: #fff !important;
}
.nav-logo {
  width: 15vw;
  min-width: 94px;
  max-width: 100px;
  height: auto;
}
.nav-logo-small {
  width: 15vw;
  min-width: 80px;
  max-width: 85px;
  height: auto;
}
.z-depth-2 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.z-depth-3 {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}
.carousel-multi-item .carousel-indicators .active {
  height: 1.2rem;
  width: 1.2rem;
  max-width: 1.2rem;
  background-color: #019ee3 !important;
  border-radius: 0.125rem !important;
}
.carousel-multi-item .carousel-indicators li {
  height: 1rem;
  width: 1rem;
  max-width: 1rem;
  border-radius: 0.125rem !important;
  background-color: rgba(1, 158, 227, 0.5) !important;
}
.home .controls-top .btn-floating {
  background-color: #ff8800 !important;
  border-radius: 0.125rem !important;
  width: 36.15385px !important;
  height: 36.15385px !important;
}
.controls-top .btn-floating i {
  line-height: 36.15385px !important;
  font-size: 0.96154rem !important;
}
.approach .card-header a {
  color: #fff !important;
}
.approach .card-header h5 {
  display: flex !important;
  justify-content: space-between !important;
  font-weight: 400 !important;
}
.approach .card-header h5 i {
  align-self: center !important;
}
.approach .card-header {
  border-radius: 0 !important;
}

.modal-header .close {
  padding: 0 !important;
  margin: 0 !important;
}
.toolkit-adapt {
  background-color: #cc6329;
}
.toolkit-collect {
  background-color: #ed7225;
}
.toolkit-analyse {
  background-color: #fbb78b;
}
.toolkit-use {
  background-color: #fcd2b4;
}
.toolkit .card-header a {
  color: #fff !important;
}
.toolkit .card-header h5 {
  display: flex !important;
  justify-content: space-between !important;
  font-weight: bold !important;
}
.toolkit-how-img {
  width: 60%;
  min-width: 180px;
  max-width: 300px;
  height: auto;
}
.toolkit .card {
  border-radius: 0 !important;
}
.toolkit .card-header {
  border-radius: 0 !important;
}
div.card-header.definitions h5 {
  font-weight: 400 !important;
  font-size: 0.9rem !important;
  line-height: 1.2 !important;
}
.learn-more-logo {
  resize: both;
  height: 20vw;
  min-height: 100px;
  max-height: 130px;
  width: auto;
}
.bt-0 {
  border-top: none !important;
}
.bb-0 {
  border-bottom: none !important;
}
.bb-1 {
  border-bottom: 1px solid #fff !important;
}
.bt-2 {
  border-top: 2px solid #fff !important;
}
.bt-3 {
  border-top: 3px solid #fff !important;
}
.bx-3 {
  border-right: 3px solid #fff !important;
  border-left: 3px solid #fff !important;
}
.btn-sm {
  height: 36.15385px;
}
.zoom-btn-icon {
  font-size: 0.9rem !important;
}
.zoom-btn {
  border-radius: 0.125rem !important;
}
.zoom-btn:not([disabled]):not(.disabled):active {
  background-color: #019ee3 !important;
}
.reset-btn {
  font-size: 0.75rem !important;
}
.reset-btn:not([disabled]):not(.disabled):active {
  background-color: #ff8800 !important;
}
.about-bg {
  background-image: url("./img/about.jpg");
  height: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-auto-height {
  height: auto !important;
}
.contact .form-control {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff !important;
}
.z-0 {
  z-index: 0 !important;
}
.css-kj6f9i-menu {
  border: none !important;
  color: #fff !important;
  background-color: rgba(1, 158, 227, 0.97) !important;
}
.css-ibziwm-control,
.css-1p9tsy7-control,
.css-1p9tsy7-control {
  border: none !important;
  border-radius: 0 !important;
}
.css-8b2e6f,
[data-css-8b2e6f] {
  z-index: 1 !important;
}
.css-5ih5ya-group {
  font-weight: normal !important;
  text-transform: capitalize !important;
  font-size: 95% !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  padding: 3px 12px !important;
}
.css-1zgi88-option,
.css-2gnffy-option,
.css-2gnffy-option,
.css-n5el7j-option {
  cursor: pointer !important;
  font-size: 95% !important;
  padding: 5px 20px !important;
  font-weight: normal !important;
}
.css-2gnffy-option,
.css-n5el7j-option {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.css-1s9izoc {
  padding: 0 !important;
}
.css-5ih5ya-group {
  margin-bottom: 0 !important;
}
.css-1gl4k7y {
  color: #fff !important;
}
.bs-none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.icp-modal .modal-header h4,
.dmg-assess .modal-header h4 {
  font-weight: 500 !important;
}
.icp-modal.modal-dialog.modal-notify.modal-info .modal-header {
  background-color: #ff8800;
}
.dmg-assess.modal-dialog.modal-notify.modal-info .modal-header {
  background-color: #019ee3;
}
.icp-modal,
.dmg-assess {
  max-width: 100% !important;
}
.icp-modal .modal-body,
.dmg-assess .modal-body {
  height: 85vh !important;
}
.icp-modal .close,
.dmg-assess .close {
  color: #fff !important;
}
.faa-flash {
  -webkit-animation: flash 2s ease infinite;
  animation: flash 2s ease infinite;
}
.faa-flash-1 {
  -webkit-animation: flash 4s ease infinite;
  animation: flash 4s ease infinite;
}
.invalid-feedback {
  font-size: 0.65rem !important;
}
.contact .invalid-feedback {
  color: #e57373 !important;
}
.forgot-password .form-control:focus,
.contact .form-control:focus {
  border-color: #ffcc80;
  box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.25);
}
.form-control:focus {
  color: rgba(73, 80, 87, 0.65);
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.w-auto {
  width: auto !important;
}
.css-hcgjr5-singleValue:before,
.css-1kozk1e-placeholder:before,
.css-r0umjy:before {
  margin-left: 8px;
}
@media (max-width: 768px) {
  .navbar {
    background: #3e3e3e !important;
  }
}
@media (min-width: 576px) {
  .w-sm-70 {
    width: 70% !important;
  }
}
@media (min-width: 768px) {
  .w-md-60 {
    width: 60% !important;
  }
}
@media (min-width: 992px) {
  .h-lg-100 {
    height: 100% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
}
.pt-7 {
  padding-top: 30 !important;
  background-color: red;
}
